@import '../../../node_modules/antd/dist/antd.css';

.settings {
    background-color: #EEE;
}

.card {
    padding: 0px;
    margin: 4px;
    border-radius: 10px;
}

.horizontal {
    display: flex;
    flex-flow: row nowrap;
}

.grow {
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 75%;
}

.basis {
    flex-grow: 0;
}